body {
	background-color: #1d3557;
	color: #f1faee;
	font-family: 'Staatliches', cursive;
}

.App {
  text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	min-height: 600px;
}

.header {
	font-size: 64px;
}

.header2 {
	font-size: 32px;
	color: #457B9D;
	margin :10px;
}

.day .heading {
	color: #A8DADC;
}

.day {
	float: left;
	width: 100px;
}

.highlight {
	color : #E63946;
}

.amount, .result {

}
